<footer id="fixed-bottom" class="py-4 bg-dark text-white fixed-bottom">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "idk", "https://github.com/", class: "text-white" %></small>
  </div>
</footer>